<h1>Sites#show</h1>
<p>Find me in app/views/sites/show.html.erb</p>

<h3><%= @site.url %></h3>

<% @site.links.each do |link| %>
	<ul type="none">
		<li>URL: <%= link.url %></li>
		<li>Response Code: <%= link.http_response %></li>
	</ul>
<% end %>
